@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

.geargrid {
  display: grid;
  justify-content: space-between;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 6vmin 0 2vmin;
  max-width: 100%;
}

.geargrid + .geargrid {
  margin-top: calc(25px - 2vmin);
}

.geargrid-item {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 20px 20px 21px;
  border: var(--color-border) 1px solid;
  border-radius: var(--radius);
  font-family: var(--font-headings);
  font-size: 1.4rem;
  line-height: 1.5em;
  color: var(--color-secondary);
  transition: none;
}

.geargrid-item-img {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  margin: 0 auto 20px;
}

.geargrid-item-img img {
  display: block;
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.geargrid-item-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.geargrid-item h4 {
  margin: 0 0 0.3em;
  font-size: 1.7rem;
  line-height: 1.3em;
}

.geargrid-item p {
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.geargrid-item .button {
  margin-top: auto;
  display: block;
  width: 100%;
  transition: none;
}

.geargrid-item:hover {
  border-color: var(--color-primary);
  text-decoration: none;
}

.geargrid-item:hover .button {
  color: #fff !important;
  font-weight: 500;
  background: var(--color-primary);
}

@media (max-width: 650px) {
  .geargrid {
    grid-gap: 15px;
    grid-template-columns: 1fr;
  }
  .geargrid + .geargrid {
    margin-top: calc(15px - 2vmin);
  }
  .geargrid-item {
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
  }
  .geargrid-item-img {
    flex-grow: 0;
    width: 140px;
    height: auto;
    margin: 0 20px 0 0;
  }
}
