/* npx tailwind build styles.css -o output.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

h1,
h2 {
  font-family: chantal, sans-serif;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  body {
    background: #f7fafc;
    color: black;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1a202c;
    color: #f7fafc;
  }
}
